# Application
PORT=3000

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# PostgreSQL
DB_USER=payment_demo
DB_PASSWORD=test
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=payment_demo
NODE_ENV=production
HYPERPROBE_BROKER_URL=http://13.203.63.232:5317
HYPERPROBE_SERVICE_ID=b91773fe-11e2-4e1e-b8d3-4a5d59efba6d
#DEBUG=hyperprobe*